// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #398275 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #398275 !default;
$hoverColour: #E8A87C !default;
$focusColour: #E8A87C !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: '"Comfortaa", "Georgia", serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Comfortaa", "Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
